<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/brief.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <form class="brief-form" action="/admin/add-brief" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <label for="title">Country</label>
                <input type="text" name="country" id="country">
                <label for="title">PSG </label>
                <input type="text" name="psg" id="psg">
                <label for="title">One Year Witholding </label>
                <input type="text" name="one_year_withholding" id="one_year_withholding">
                <label for="title">Withholding Only </label>
                <input type="text" name="withholding_only" id="withholding_only">
                <label for="title">Practice Advisory </label>
                <input type="text" name="practice_advisory" id="practice_advisory">
                <label for="title">Courthouse </label>
                <input type="text" name="courthouse" id="courthouse">
                <label for="title">Pages </label>
                <input type="text" name="pages" id="pages">
                <label for="title">Additional PSG </label>
                <input type="text" name="additional_psg" id="addition_psg">
                <label for="title">Gangs </label>
                <input type="text" name="Gangs" id="gangs">
                <label for="title">Gang Name </label>
                <input type="text" name="gang_name" id="gang_name">
                <label for="title">Link </label>
                <input type="text" name="link" id="link">
            </div>

            <button class="btn" type="submit">Add Brief</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>